.box {
    width: 80%;
    background: orange;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.color {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Yu Gothic", sans-serif;
    color: white;
    background: silver;
}
.one {
    height: 100px;
    display: flex;
    gap: 10px;
}
.logo {
    width: 25%;
    height: 100%;
}
.header {
    width: 75%;
    height: 100%;
}
.body {
    display: flex;
    gap: 10px;
}
.two {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 800px;
    gap: 10px;

}
.nav {
    height: 600px;
}
.store, .tools {
    height: 100px;
}
.five {
    display: flex;
    flex-direction: column;
    width: 74%;
    gap: 10px;
}
.three {
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10px;
}
.intro {
    width: 75%;
    height: 200px;
}
.ad {
    width: 25%;
    height: 200px;
}
.four {
    width: 100%;
    height: 600px;
    display: flex;
    gap: 10px;
}
.baths {
    width: 75%;
    height: 590px;
}
.product {
    width: 25%;
    height: 590px;
}
.footer {
    height: 100px;
}
.new_nav {
    display: none;
}
.boxes {
    display: none;
}
.new_store {
    display: none;
}
.new_tools {
    display: none;
}
@media screen and (max-width: 800px) {
    .two {
        display: none;
    }
    .body {
        flex-direction: column;
    }
    .new_nav {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .five {
        width: 100%;
    }
    .four {
        flex-direction: column;
    }
    .baths, .product {
        width: 100%;
    }
    .boxes {
        display: flex;
        width: 100%;
        gap: 10px;
    }
    .new_store, .new_tools {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: "Yu Gothic", sans-serif;
        color: white;
        background: silver;
    }
}

