.all {
    width: 600px;
    height: 900px;
    background: orange;
    overflow: hidden;
}
.first {
    height: 250px;
    background: deepskyblue;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 80px;
}
.third {
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.widgets {
    width: 195px;
    color: white;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    height:400px;
    background: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}