.first {
    width: 450px;
    height: 150px;
    background: gold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 450px;
    height: 200px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.widgets {
    width: 145px;
    height: 200px;
    background: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third {
    width: 450px;
    height: 300px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all {
    margin-left: 200px;
}