.box {
    width: 1000px;
    height: 325px;
    background: rgb(99,157,214);
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;

}
.complex {
    width: 450px;
    height: 100px;
    background: darkcyan;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.icon {
    font-size: 35px;
    margin-left: 35px;
}
h3 {
    color: orange;
    margin-left: 35px;
    margin-bottom: 0px;
}
p {
    margin-left: 35px;
    margin-top: 10px;

}
